{% load static %}
<html>
<head>
  <title>Online Car Rental System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/Style.css' %}">
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.css' %}">
</head>
<body>
  
 <!-- Footer -->
 <footer id="main-footer" class="py-2">
  <div class="container footer-container">
    <div class="about">
      <h3>About us:</h3>
      <p>The company established in 2019. It is the leading company in the country which is providing the online car rental system..</p>
    </div>
    <div class="address">
      <h3 >Address:</h3>
        <p>Head Office:Motijheel</p>
        <p>Road no: X, House No: Y</p>
        <p>Dhaka, Bangladesh.</p>
    </div>
    <div class="hours">
      <h3>Hours:</h3>
        Sat-Thurs: 10am - 5:00pm<br>
        Friday: Closed
    </div>
    <div class="contact">
      <h2>Contacts:</h2>
      Email:random.randit@gmail.com<br>
      Phone Number:0121564
 
    </div>
    <div>
      <p>
        Copyright &copy; 2019, All Rights Reserved
      </p>
    </div>
  </div>
</footer>
<body>
  
</html>